.home-page {
   /*background-image: url('../assets/Home/11.jpg');*/ 
    background-size: cover;
    background-position: center;
    background-color: #660f56;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: center;
}
/*
#280659
#341671
#c0b3cb
#660f56
#ae2d68
*/
.home-info{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
.home-page h1 {
    color: rgb(3, 139, 55);
    font-size: 55px;
    font-family: 'flow';


    
}*/

.home-page img {
  max-width: 800px;
  border-radius: 500px;
  margin-top: 10px;
}

.contact-me-button{
    background: #ffffff7c;
    border: 1px solid rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    color: rgb(10, 117, 81); 
    padding: 10px 15px;
    font-weight: bolder;
    font-family: 'zen';
    font-size: 35px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, border 0.3s; 
    outline: none; 
    transition: all 1s;
    margin-top: 5px;
    
}

.contact-me-button:hover{
    background-color: black;
    color: #fff; /* Text color on hover */
    border: 1px solid white; /* Border color on hover */
}

@keyframes slideInFromLeft {
    from {
      transform: translateX(-200%); 
      opacity: 0; 
    }
    to {
      transform: translateX(0); 
      opacity: 1;
    }
  }
 @keyframes slideInFromRight {
    from {
      transform: translateX(200%); 
      opacity: 0; 
    }
    to {
      transform: translateX(0); 
      opacity: 1;
    }
  }
  
 
  .slide-in {
    animation: slideInFromLeft 1.5s ease forwards; 
  }

  .slide-in-right{
    animation: slideInFromRight 1.5s ease forwards;
  }

  @media only screen and (max-width: 800px) {
    .home-page img {
      max-width: 100vw;
    }
  }