.contact-me-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
 
}


.contact-me-border{
    width: 25%;
    border: 2px solid rgba(211, 184, 34, 0.842);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
}

.contact-me-border h2{
    font-family: 'zen';
    margin-bottom: 5px;
    font-size: 30px;
    color: rgb(115, 155, 201);
    margin-top: 5px;
}

.contact-me-social{
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    
    
}

.contact-me-container img {
    width: 30px;
    height: 30px;
    transition: 0.2s all ease-in;
}

.contact-me-container img:hover {
    cursor: pointer;
    width: 35px;
    height: 35px;

}