body {
  margin: 0;

}


.no-scroll {
  overflow: hidden;
}


@font-face {
  font-family: 'flow';
  src: url('assets/fonts/flow____.ttf');
}

@font-face {
  font-family: 'zen';
  src: url('assets/fonts/ZenLoop-Regular.ttf');
}

@font-face {
  font-family: 'beloved';
  src: url('assets/fonts/Perfect\ Beloved.otf');
}

@font-face {
  font-family: 'antipasto';
  src: url('assets/fonts/AntipastoPro_trial.ttf');
}

@font-face {
  font-family: 'cond';
  src: url('assets/fonts/Intro\ Cond\ Light\ Free.otf');
}

@font-face {
  font-family: 'lato';
  src: url('assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'lato-thin';
  src: url('assets/fonts/Lato-Thin.ttf');
}
