.product-page {
    padding-bottom: 25px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
}

.product-page-title {
    display: flex;
   
    justify-content: center;
}

.product-page-title h1{
    font-family: 'cond'
}


.product-display{
    height: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x:hidden ;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    margin: 10px;

}
.product-display:hover{
    cursor: grab;
}
.product-display:active{
    cursor: grabbing;
}



.product-arrow {
    align-self: center;
    width: 50px;
    height: 50px;
}

.product-container {
    flex: 0 0 auto; 
    width: 230px;
    height: 360px;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    user-select: none;

}


.product-container img{
    user-select:none;
    width: 90%;
    height: 40%;
    border: 1px solid rgba(201, 201, 201, 0.555);
    border-radius: 10px;
}

.product-container h3 {
    font-family: 'lato';
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
    
}

.product-container-price {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: blueviolet;
}

.product-container-description {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'zen';
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
}

.package{
    margin-top: 5px;
    margin-bottom: 25px;
}

.product-container-button{
    justify-self: flex-end;
    cursor: pointer;
    display: flex;
    color: white;
    font-family: 'lato';
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 120px;
    border-radius: 5px;
    background-color: rgb(217, 121, 236);
    
}


.product-container-link {
   
    font-family: 'lato';
    text-decoration: underline;
    color: aqua;
}

.product-container-link:visited {
    color: #AE2D68; 
  }

@media only screen and (max-width: 800px) {
    .product-container {
        width: 160px;
        height: 300px;
    
    }

    .product-page-title h1{
        font-size: 25px;
    }

    .product-container h3 {
        font-size: 18px;
    }

    .product-container-price {
        font-size: 15px;
    }

    .product-container-description {
        font-size: 15px;
    }

    .product-container-link {
        font-size: 13px;
       
    }

}